@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen');
/* font-family: 'Oxygen', sans-serif; */
header {
  align-content: center;
  border-bottom: 1px solid #3F4045;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  padding: 14px 25px;
}

.header--logo {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: #3F4045;
  font-weight: 600;
  text-decoration: none;
}

nav {
  justify-self: flex-end;
}

nav a {
  color: #3F4045;
  padding-left: 15px;
  text-decoration: none;
}

nav a:hover {
  
}